@{
    ViewBag.Title = "AdminLinks";
}

<h2>AdminLinks</h2>

@Html.ActionLink("View All Carts", "Index", "CartAdmin")
<br />
@Html.ActionLink("View Cart Details", "ListAllCarts", "Admin")
<br />
@Html.ActionLink("View Empty Carts", "ListEmptyCarts", "Admin")
<br />
@Html.ActionLink("List Carts Status", "Index", "CartAdmin")
<br />
@Html.ActionLink("View All Customer", "Index", "Customer")
<br />
@Html.ActionLink("Product Usage", "ProductUsage", "Admin")
<br />
@Html.ActionLink("Product Categories", "Index", "Categories")