@model Shopping.Models.FAQ

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FAQ</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Question)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question)
        </dd>

        <dt>
            <br />
        </dt>

        <dd>
            <br />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Answer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer)
        </dd>

    </dl>
</div>
<p>
    @if (User.Identity.Name == "admin")
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) <b>|</b>
    }
    @Html.ActionLink("Back to List", "Index")
</p>
